<nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
  <div class="container">
    <div class="navbar-brand justify-content-center">
      <%= link_to root_path do %>
        <%= image_tag('Kroonwerk-logo.png', style: "object-fit: cover; height: 2rem;") %>
      <% end %>
    </div>
    <%= link_to "KROONWERK SCHOONMAAK", root_path, class: "navbar-brand text-primary mt-1" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-lg-5">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown dropdown-xl no-caret">
          <%= link_to "FAQ", faq_path, class: "nav-link", role: "button" %>
        </li>
      </ul>
      <%= link_to '<button class="btn-primary btn rounded-pill px-4 ml-lg-4">Boek
        Nu<i class="fas fa-arrow-right ml-1"></i></button>'.html_safe, new_interested_user_path %>

    </div>
  </div>
</nav>