<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Kroonwerk schoonmaak</title>
</head>
<body>
<div id="layoutDefault">
  <div id="layoutDefault_content">
    <main>
      <!-------------------------------     NAV    ------------------------------->
      <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
        <div class="container">
          <div class="navbar-brand">
          <%= image_tag('Kroonwerk-logo.png', style: "object-fit: cover; height: 2rem;") %>
          </div>
          <%= link_to "KROONWERK SCHOONMAAK", root_path, class: "navbar-brand text-primary" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown dropdown-xl no-caret">
                <%= link_to "FAQ", faq_path, class: "nav-link", role: "button" %>
              </li>
            </ul>
            <a class="btn-primary btn rounded-pill px-4 ml-lg-4" href="#">Boek
              Nu<i class="fas fa-arrow-right ml-1"></i></a>
          </div>
        </div>
      </nav>
      <!-------------------------------     HEADER    ------------------------------->
      <header class="page-header page-header-dark bg-img-cover overlay overlay-80 front-page-background-image">
        <div class="page-header-content py-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-8 col-lg-10 text-center">
                <div data-aos="fade-up">
                  <h1 class="page-header-title">Wij helpen u met coronapreventie en ontsmetting</h1>
                  <p class="page-header-text">Schoonmaak op maat en preventieprotocollen</p>
                </div>
                <button class="btn btn-marketing rounded-pill btn-primary" data-aos="fade-up" data-aos-delay="100">Boek
                  nu
                </button>
                <button class="btn btn-marketing rounded-pill btn-primary" data-aos="fade-up" data-aos-delay="100">
                  <a href="#knowmore" id="leesmeer" class="text-white text-decoration-none ">Leer meer</a></button>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </header>
      <!-------------------------------     SECTION 1 PIC LEFT    ------------------------------->
      <section class="bg-white py-10" id="knowmore">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0 aos-init aos-animate">
              <div class="content-skewed content-skewed-right">
                <div class="card lift" data-aos="fade-up">
                  <div class="card-body p-2">
                    <%= image_tag('covid-cleaner.jpg', style: "width: 100%; object-fit: cover; height: 700px;", alt: "Person wearing protective suit by Matilda Wormwood") %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0 aos-init aos-animate">
              <div class="mb-5" data-aos="fade-up">
                <h2 class="display-4 mb-5">COVID-19</h2>
                <p class="lead">De wereldwijde uitbraak van het nieuwe coronavirus heeft ons dagelijks leven drastisch
                  veranderd. Ook op de werkvloer. Wat mag nog wel en wat mag niet? Hoe bescherm ik mijn werknemers en
                  klanten voor nieuwe besmettingen? Kroonwerk helpt u met advies op maat bij al deze vragen.</p>
              </div>
              <div class="row d-flex align-items-center ml-4" data-aos="fade-right">
                <div class="icon-stack icon-stack-xl bg-blue text-white mb-4 col-2">
                  <i class="far fa-file-alt"></i>
                </div>
                <div class="col-10">
                  <p class=""><strong class="text-primary">Richtlijnen</strong> van de Rijksoverheid en andere instanties</p>
                </div>
                <div class="icon-stack icon-stack-xl bg-blue text-white mb-4 col-2">
                  <i class="fas fa-broom"></i>
                </div>
                <div class="col-10">
                  <p><strong class="text-primary">Schoonmaak op maat</strong> via ons state-of-the art boekingsplatform</p>
                </div>
                <div class="icon-stack icon-stack-xl bg-blue text-white mb-4 lift col-2">
                  <i class="fas fa-list-ul"></i>
                </div>
                <div class="col-10">
                  <p><strong class="text-primary">Continue veiligheid</strong> door middel van preventieprotocollen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-light">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </section>
      <!-------------------------------     SECTION 2 PROPOSITION    ------------------------------->
      <section class="bg-light py-10" data-aos="fade-up">
        <div class="container">
          <div class="text-center mb-5 pb-5" data-aos="fade-up">
            <div class="col-12">
              <h2 class="display-4 mb-5">Schoonmaak op maat</h2>
              <p class="mb-0">De richtlijnen voor schoonmaken zijn duidelijk en simpel. U kunt het
                gemakkelijk zelf doen. Echter zijn de <span class="text-primary">risico’s groot</span> en is
                <span class="text-primary">100% ontsmetting niet te garanderen</span>. Daarom raden wij aan dat u
                ons
                <span class="text-primary">boekingsplatform</span> gebruikt om ervaren schoonmakers in te schakelen.
              </p>
            </div>
          </div>
          <div class="row text-center justify-content-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i class="fas fa-question"></i></div>
              <h2>Vragen</h2>
              <p class="mb-0">We beginnen met een paar vragen om een beter beeld te krijgen van de ruimte</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i class="fas fa-layer-group"></i></div>
              <h2>Schoonmaak plan</h2>
              <p class="mb-0">Aan de hand van de vragen creeren we een op maat gebaseerd schoonmaak plan</p>
            </div>
            <div class="col-lg-4">
              <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4">
                <i class="fas fa-broom"></i></div>
              <h2>Professionele schoonmaak</h2>
              <p class="mb-0">Our products are created on time, and to your exact specifications</p>
            </div>
            <div class="mt-5 pt-5">
              <button class="btn btn-marketing rounded-pill btn-primary lift" data-aos="fade-up" data-aos-delay="100">Boek
                nu
              </button>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </section>
      <!-------------------------------     SECTION 3 SAFTY    ------------------------------->
      <section class="bg-white py-10">
        <div class="container position-relative">
          <h2 class="display-4 text-center mb-5">Continue Veiligheid</h2>
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="text-center text-gray" data-aos="fade-up" data-aos-delay="400">
                U kunt nog een <span class="text-primary">stapje verder gaan voor uw personeel en klanten</span> met
                <span class="text-primary">preventieprotocollen</span>. Zo maakt u uw
                ruimte minder vatbaar voor corona. Naast onze schoonmaakservice kunnen wij u uitleggen hoe u
                <span class="text-primary">veiligheid
                  waarborgt</span> in uw kantoorruimte.
              </div>
              <div class="text-center mt-5">
                <button class="btn btn-marketing rounded-pill btn-primary m-2 lift" data-aos="fade-up" data-aos-delay="100">Lees
                  meer
                </button>
                <button class="btn btn-marketing rounded-pill btn-primary m-2 lift" data-aos="fade-up" data-aos-delay="100">Boek
                  nu
                </button>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-------------------------------     SECTION 4 PIC    ------------------------------->
      <section class="bg-white py-3">
        <div class="container">
          <div class="row justify-content-center z-1">
            <div class="col-lg-8" data-aos="fade-up">
              <div class="card lift mb-n15">
                <div class="card-body p-2">
                  <%= image_tag('schoonmaak3.jpg', style: "width: 100%; object-fit: cover; height: 300px;") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-black">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </section>
      <!-------------------------------     SECTION 5 QUOTE    ------------------------------->
      <section class="bg-img-cover overlay overlay-80 pt-10" style='background-image: url("https://images.unsplash.com/photo-1584649042913-819d5b9347ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80")'>
        <div class="container position-relative">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="display-4 text-center py-10 my-10 text-white" data-aos="fade-up" data-aos-delay="400">Frequent
                <span class="text-primary">schoonmaken</span> wordt een belangrijk onderdeel van ons dagelijks
                <span class="text-primary">leven</span>. Met <span class="text-primary">onze service</span> hoeft u zich
                hier <span class="text-primary">geen zorgen</span> over te maken.
              </div>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </section>
      <!-------------------------------     SECTION 6 CALL TO ACTION   ------------------------------->
      <section class="bg-white py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center my-10">
              <h2>Offerte aanvragen?</h2>
              <p class="lead text-gray-500 mb-5">Wij streven ernaar om u zo goed mogelijk te kunnen helpen in deze zware
                tijden. Daarom bieden we naast ons gratis schoonmaak stappenplan ook een preventie schoonmaak
                service.</p>
              <!--              TODO: Moet nog een link toegevoegd worden -->
              <a class="btn btn-primary btn-marketing rounded-pill lift" href="#">nu offerte aanvragen</a>
            </div>
          </div>
        </div>
        <div class="svg-border-rounded text-black">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
          </svg>
        </div>
      </section>
    </main>
  </div>
  <!-------------------------------     FOOTER    ------------------------------->
  <div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-black footer-dark">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4">
            <div class="footer-brand">Preventie schoonmaak</div>
            <div class="mb-3">Schoonmaak service</div>
            <!--            <div class="icon-list-social mb-5">-->
            <!--              <a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-instagram"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-github"></i></a><a class="icon-list-social-link" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>-->
            <!--            </div>-->
          </div>
          <div class="col-sm-4">
            <div class="text-uppercase-expanded text-xs mb-4">Advies</div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2">Schoonmaak plan</li>
              <!--                  <li class="mb-2"><a href="javascript:void(0);">Pages</a></li>-->
              <!--                  <li class="mb-2"><a href="javascript:void(0);">Sections</a></li>-->
              <!--                  <li class="mb-2"><a href="javascript:void(0);">Documentation</a></li>-->
              <!--                  <li><a href="javascript:void(0);">Changelog</a></li>-->
            </ul>
          </div>
          <div class="col-sm-4">
            <div class="text-uppercase-expanded text-xs mb-4">schoonmaak service</div>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="javascript:void(0);">schoonmaak bestellen</a></li>
            </ul>
          </div>
        </div>
        <hr class="my-5"/>
        <div class="row align-items-center">
          <div class="col-md-6 small">Copyright &copy; preventie schoonmaak</div>
          <!--          <div class="col-md-6 text-md-right small">-->
          <!--            <a href="javascript:void(0);">Privacy Policy</a>-->
          <!--            &middot;-->
          <!--            <a href="javascript:void(0);">Terms &amp; Conditions</a>-->
          <!--          </div>-->
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
